* {
  margin: 0;
  padding: 0;
}

body {
  background-color: blanchedalmond;
}
.hero {
  background-image: url(../img/pa.png);
  width: 100vw;
  height: 350px;
}
.titulo_principal {
  padding-top: 64px;
}
.parrafo {
  padding-top: 16px;
}
